{{ define "main" }}

<style>

</style>

<section id="contact-us-title" class="flex flex-wrap pt-12">
    <div class="w-4/5 mx-auto">
        <h3 class="font-trade-gothic pb-5 text-4xl text-color-262626 text-left italic font-black">Contact Us</h3>
        <p class="font-chivo text-xl text-color-262626 leading-tight tracking-wide text-left">We'd love to hear from you!</p>
    </div>
</section>

<section id="funding-application" class="flex flex-wrap pb-48">
    <div class="w-5/6 lg:w-3/5 mx-auto lg:mx-0 lg:ml-auto">
        <form class="flex flex-wrap mx-auto pt-8 items-start">
        <div class="w-4/5 lg:w-1/2 flex flex-wrap mx-auto lg:ml-auto border-r-20 border-white">
          <label class="w-full font-trade-gothic tracking-wide italic text-color-262626 pt-5 font-black">First Name*</label>
          <input name="first-name" type="text" placeholder="First name" class="w-full p-3 mt-1 focus:outline-none font-chivo text-sm text-color-262626 hover:bg-primary-input-hover-background focus:bg-input-hover-back border-2 border-solid border-color-cccccc hover:border-color-0194D3 focus:text-color-262626 focus:border-input-hover default-input">
        </div>
        <div class="hidden lg:inline-flex w-4/5 lg:w-1/2 flex-wrap mx-auto py-8 lg:py-0 border-r-20 border-white">
          <label class="w-full font-trade-gothic tracking-wide italic text-color-262626 pt-5 font-black">Last Name*</label>
          <select name="reason-for-contact" class="w-full p-3 mt-1 focus:outline-none font-chivo text-sm text-color-262626 hover:bg-primary-input-hover-background focus:bg-input-hover-back border-2 border-solid border-color-cccccc hover:border-color-0194D3 focus:text-color-262626 focus:border-input-hover default-input">
            <option name="Donate Time">I'd like to donate my time</option>
            <option name="Donate Money">I'd like to donate my money</option>
            <option name="Other Question">Other question</option>
          </select>
        </div>
        <div class="w-4/5 lg:w-1/2 flex flex-wrap mx-auto lg:mr-auto border-r-20 border-white">
          <label class="w-full font-trade-gothic tracking-wide italic text-color-262626 pt-5 font-black">Email*</label>
          <input name="email" type="text" placeholder="Email" class="w-full p-3 mt-1 focus:outline-none font-chivo text-sm text-color-262626 hover:bg-primary-input-hover-background focus:bg-input-hover-back border-2 border-solid border-color-cccccc hover:border-color-0194D3 focus:text-color-262626 focus:border-input-hover default-input">
        </div>
        <div class="hidden lg:inline-flex w-4/5 lg:w-1/2 flex-wrap mx-auto lg:mr-auto border-r-20 border-white">
          <label class="w-full font-trade-gothic tracking-wide italic text-color-262626 pt-5 font-black">Email*</label>
          <textarea name="email" type="text" placeholder="Email" class="w-full p-3 mt-1 focus:outline-none font-chivo text-sm text-color-262626 hover:bg-primary-input-hover-background focus:bg-input-hover-back border-2 border-solid border-color-cccccc hover:border-color-0194D3 focus:text-color-262626 focus:border-input-hover h-32 default-input"></textarea>
        </div>
        <div class="w-4/5 lg:w-1/2 flex flex-wrap mx-auto lg:mr-auto border-r-20 border-white lg:-mt-20">
          <label class="w-full font-trade-gothic tracking-wide italic text-color-262626 pt-5 font-black">Email*</label>
          <input name="email" type="text" placeholder="Email" class="w-full p-3 mt-1 focus:outline-none font-chivo text-sm text-color-262626 hover:bg-primary-input-hover-background focus:bg-input-hover-back border-2 border-solid border-color-cccccc hover:border-color-0194D3 focus:text-color-262626 focus:border-input-hover default-input">
        </div>
        <div class="lg:hidden w-4/5 lg:w-1/2 flex flex-wrap mx-auto border-r-20 border-white">
          <label class="w-full font-trade-gothic tracking-wide italic text-color-262626 pt-5 font-black">Email*</label>
          <input name="email" type="text" placeholder="Email" class="w-full p-3 mt-1 focus:outline-none font-chivo text-sm text-color-262626 hover:bg-primary-input-hover-background focus:bg-input-hover-back border-2 border-solid border-color-cccccc hover:border-color-0194D3 focus:text-color-262626 focus:border-input-hover default-input">
        </div>
        <div class="lg:hidden w-4/5 lg:w-1/2 flex flex-wrap mx-auto py-8 lg:py-0 border-r-20 border-white">
          <label class="w-full font-trade-gothic tracking-wide italic text-color-262626 font-black">Last Name*</label>
          <select name="reason-for-contact" class="w-full p-3 mt-1 focus:outline-none font-chivo text-sm text-color-262626 hover:bg-primary-input-hover-background focus:bg-input-hover-back border-2 border-solid border-color-cccccc hover:border-color-0194D3 focus:text-color-262626 focus:border-input-hover default-input">
            <option name="Donate Time">I'd like to donate my time</option>
            <option name="Donate Money">I'd like to donate my money</option>
            <option name="Other Question">Other question</option>
          </select>
        </div>
        <div class="lg:hidden w-4/5 lg:w-1/2 flex flex-wrap mx-auto border-r-20 border-white">
          <label class="w-full font-trade-gothic tracking-wide italic text-color-262626 font-black">Email*</label>
          <textarea name="email" type="text" placeholder="Email" class="w-full p-3 mt-1 focus:outline-none font-chivo text-sm text-color-262626 hover:bg-primary-input-hover-background focus:bg-input-hover-back border-2 border-solid border-color-cccccc hover:border-color-0194D3 focus:text-color-262626 focus:border-input-hover h-32 default-input"></textarea>
        </div>
        <div class="w-4/5 lg:w-1/2 flex flex-wrap mx-auto lg:mr-auto text-center lg:text-right mt-5">
          <input type="submit" value="Submit" class="bg-color-0194D3 hover:bg-color-0182BA active:bg-color-0170A0 focus:bg-color-0182BA focus:outline-none px-4 py-3 mx-auto lg:mx-0 lg:ml-auto lg:mr-5 text-base text-white italic font-normal ml-auto default-button">
        </div>
        <div class="hidden lg:inline-flex w-4/5 lg:w-1/2 flex-wrap mr-auto lg:mr-auto border-r-20 border-white lg:-mt-12">
          <label class="w-full font-trade-gothic tracking-wide italic text-color-262626 pt-5 font-black">Email*</label>
          <input name="email" type="text" placeholder="Email" class="w-full p-3 mt-1 focus:outline-none font-chivo text-sm text-color-262626 hover:bg-primary-input-hover-background focus:bg-input-hover-back border-2 border-solid border-color-cccccc hover:border-color-0194D3 focus:text-color-262626 focus:border-input-hover default-input">
        </div>
      </form>
    </div>
    <div class="w-5/6 lg:w-1/5 mx-auto lg:mx-0 lg:mr-auto pt-12 lg:pt-0">
        <h6 class="font-chivo text-base text-color-0194D3 font-bold pb-1">Our Address</h6>
        <p class="font-chivo text-sm leading-normal">{{ .Site.Params.address.street }}</p>
        <p class="font-chivo text-sm leading-normal">{{ .Site.Params.address.city }}, {{ .Site.Params.address.state }} {{ .Site.Params.address.zip }}</p>
        <div class="flex flex-wrap md:text-left pb-16 lg:pb-0 mx-auto pt-8">
        <h6 class="w-full font-chivo text-base text-color-0194D3 font-bold pb-1">Follow Us</h6>
        <div class="w-1/3 md:w-1/6 text-right md:text-center py-5 pr-1 lg:p-0">
          <ion-icon class="text-2xl text-color-0194D3" name="logo-facebook"></ion-icon>
        </div>
        <div class="w-2/3 md:w-5/6 py-5 lg:p-0">
          <p class="font-chivo text-sm leading-normal text-left">Find us on Facebook</p>
        </div>
        <div class="w-1/3 md:w-1/6 text-right md:text-center py-2 pr-1 lg:p-0">
          <ion-icon class="text-2xl text-color-0194D3" name="logo-instagram"></ion-icon>
        </div>
        <div class="w-2/3 md:w-5/6 py-2 lg:p-0">
          <p class="font-chivo text-sm leading-normal text-left">Follow us on Instagram</p>
        </div>
      </div>
    </div>
</section>


{{ end }}