{{ define "main" }}

<style>

</style>

<section id="donate-time-title" class="flex flex-wrap items-center lg:px-32 pt-12">
    <div class="w-4/5 lg:w-1/2 xl:w-1/2 text-center mx-auto lg:pr-10">
        <img class="left-img-shadow" src="/pageimg/donate-time-lukes-project.jpg">
    </div>
    <div class="w-4/5 lg:w-1/2 mx-auto lg:mx-0 lg:mr-auto pt-16 lg:pt-0">
        <h2 class="font-trade-gothic text-base italic text-color-0194D3">Ways to Give</h2>
        <h3 class="font-trade-gothic text-4xl text-color-262626 italic pb-3">Donating my Time</h3>
        <p class="font-chivo text-xl text-color-262626 leading-tight tracking-wide">Interested in donating your time? We’d loce to have you. There are lots of ways to serve on a project, from consulting to volunteering labor, idea generation to serving, there are plenty of ways to be involved. Click the link below to send us your information</p>
    </div>
</section>

<section id="donate-time-methods" class="flex flex-wrap pt-32 pb-48">
    <div class="w-3/4 mx-auto text-center">
        <h3 class="font-trade-gothic pb-5 text-4xl text-color-262626 text-center italic font-black">Ways to Give Your Time</h3>
        <ul class="flex flex-wrap mx-auto text-xl text-color-0194D3">
            <li class="w-5/6 md:w-1/2 border-20 border-white text-left">Help with Board Service Projects</li>
            <li class="w-5/6 md:w-1/2 border-20 border-white text-left">Volunteer to deliver materials to job sites</li>
            <li class="w-5/6 md:w-1/2 border-20 border-white text-left">Volunteer to help student clubs with their service projects</li>
            <li class="w-5/6 md:w-1/2 border-20 border-white text-left">Help develop community projects for students to take on</li>
        </ul>
        <a href="/contact-us">
            <button class="bg-color-0194D3 hover:bg-color-0182BA active:bg-color-0170A0 focus:bg-color-0182BA hover:cursor-pointer focus:outline-none px-4 py-3 mt-5 text-base text-white italic font-normal default-button">I'd like to donate my time</button>
        </a>
    </div>
</section>


{{ end }}