{{ define "main" }}

<style>
.default-input:hover::placeholder {
    color: #262626;
}
input[type="submit"]:hover {
    cursor: pointer;
}
</style>

<section id="nominate-graduate" class="flex flex-wrap items-center lg:px-32 pt-12 flex-col-reverse lg:flex-row">
    <div class="w-4/5 lg:w-1/2 mx-auto pt-16 lg:pt-0">
        <h2 class="font-trade-gothic text-base font-black italic text-color-0194D3">{{ .Params.nominate_a_graduate.Subtitle }}</h2>
        <h3 class="font-trade-gothic text-4xl font-black text-color-262626 italic pb-3">{{ .Params.nominate_a_graduate.Title }}</h3>
        <p class="font-chivo text-xl text-color-262626 leading-normal">{{ .Params.nominate_a_graduate.Paragraph }}</p>
    </div>
    <div class="w-4/5 lg:w-1/2 xl:w-1/2 text-center mx-auto lg:pr-10">
        <img class="right-img-shadow" src="/pageimg/nominate-a-graduate.jpg">
    </div>
</section>

<section id="nominate-graduate-application" class="flex flex-wrap pt-32 pb-32">
    <div class="w-4/5 mx-auto">
        <h3 class="font-trade-gothic pb-5 text-4xl text-color-262626 text-left italic font-black">{{ .Params.service_award_application.Title }}</h3>
        <p class="font-chivo text-xl text-color-262626 leading-normal text-left">{{ .Params.service_award_application.Paragraph }}</p>
        <form class="flex flex-wrap mx-auto pt-8 items-center" action="/thank-you" netlify-honeypot="field-for-coolguys" name="graduate-nomination-application" method="POST" netlify>
        <input type="hidden" name="subject" value="New Graduate Nomination" />
        <div class="w-full lg:w-1/3 flex flex-wrap mx-auto pb-8 lg:pb-0 lg:ml-auto lg:border-r-20 border-white">
          <label class="w-full font-trade-gothic tracking-wide italic text-color-262626 pt-5 font-black">First Name*</label>
          <input name="first-name" type="text" placeholder="First name" class="w-full p-3 mt-1 focus:outline-none font-chivo text-sm text-color-262626 hover:bg-white border-2 border-solid border-color-cccccc hover:border-color-0194D3 hover:text-white focus:text-color-262626 focus:border-input-hover default-input" required>
        </div>
        <input type="text" name="field-for-coolguys" style="display:none" />
        <div class="w-full lg:w-1/3 flex flex-wrap mx-auto pb-8 lg:pb-0 lg:border-r-20 border-white">
          <label class="w-full font-trade-gothic tracking-wide italic text-color-262626 pt-5 font-black">Last Name*</label>
          <input name="last-name" type="text" placeholder="Last name" class="w-full p-3 mt-1 focus:outline-none font-chivo text-sm text-color-262626 hover:bg-white border-2 border-solid border-color-cccccc hover:border-color-0194D3 hover:text-white focus:text-color-262626 focus:border-input-hover default-input" required>
        </div>
        <div class="w-full lg:w-1/3 flex flex-wrap mx-auto pb-8 lg:pb-0 lg:mr-auto lg:border-r-20 border-white">
          <label class="w-full font-trade-gothic tracking-wide italic text-color-262626 pt-5 font-black">Email*</label>
          <input name="email" type="email" placeholder="Email" class="w-full p-3 mt-1 focus:outline-none font-chivo text-sm text-color-262626 hover:bg-white border-2 border-solid border-color-cccccc hover:border-color-0194D3 hover:text-white focus:text-color-262626 focus:border-input-hover default-input" required>
        </div>
        <div class="w-full lg:w-1/3 flex flex-wrap mx-auto pb-8 lg:pb-0 lg:mr-auto lg:border-r-20 border-white">
          <label class="w-full font-trade-gothic tracking-wide italic text-color-262626 pt-5 font-black">Phone*</label>
          <input name="phone" type="tel" placeholder="Phone Number" class="w-full p-3 mt-1 focus:outline-none font-chivo text-sm text-color-262626 hover:bg-white border-2 border-solid border-color-cccccc hover:border-color-0194D3 hover:text-white focus:text-color-262626 focus:border-input-hover default-input" required>
        </div>
        <div class="w-full lg:w-1/3 flex flex-wrap mx-auto pb-8 lg:pb-0 lg:mr-auto lg:border-r-20 border-white">
          <label class="w-full font-trade-gothic tracking-wide italic text-color-262626 pt-5 font-black">Date of Birth*</label>
          <input name="date-of-birth" type="date" placeholder="MM/DD/YYYY" class="w-full p-3 mt-1 focus:outline-none font-chivo text-sm text-color-262626 hover:bg-white border-2 border-solid border-color-cccccc hover:border-color-0194D3 focus:text-color-262626 focus:border-input-hover default-input" required>
        </div>
        <div class="w-full lg:w-1/3 flex flex-wrap mx-auto pb-8 lg:pb-0 lg:mr-auto lg:border-r-20 border-white">
          <label class="w-full font-trade-gothic tracking-wide italic text-color-262626 pt-5 font-black">High School Attending*</label>
          <input name="high-school-currently-attending" type="text" placeholder="High School's Name" class="w-full p-3 mt-1 focus:outline-none font-chivo text-sm text-color-262626 hover:bg-white border-2 border-solid border-color-cccccc hover:border-color-0194D3 hover:text-white focus:text-color-262626 focus:border-input-hover default-input" required>
        </div>
        <div class="w-full lg:w-1/2 flex flex-wrap mx-auto pb-8 lg:pb-0 lg:mr-auto lg:border-r-20 border-white">
          <label class="w-full font-trade-gothic tracking-wide italic text-color-262626 pt-5 font-black">Previous Service*</label>
          <textarea name="previous-service" type="text" placeholder="What service activities and organizations have you been a part of and what was your role?" class="w-full p-3 mt-1 focus:outline-none font-chivo text-sm text-color-262626 hover:bg-white border-2 border-solid border-color-cccccc hover:border-color-0194D3 hover:text-white focus:text-color-262626 focus:border-input-hover h-32 default-input" required></textarea>
        </div>
        <div class="w-full lg:w-1/2 flex flex-wrap mx-auto pb-8 lg:pb-0 lg:mr-auto lg:border-r-20 border-white">
          <label class="w-full font-trade-gothic tracking-wide italic text-color-262626 pt-5 font-black">Future Plans*</label>
          <textarea name="future-plans" type="text" placeholder="What are your plans after graduating high school?" class="w-full p-3 mt-1 focus:outline-none font-chivo text-sm text-color-262626 hover:bg-white border-2 border-solid border-color-cccccc hover:border-color-0194D3 hover:text-white focus:text-color-262626 focus:border-input-hover h-32 default-input" required></textarea>
        </div>
        <div class="w-full lg:w-1/2 flex flex-wrap mx-auto pb-8 lg:pb-0 lg:mr-auto lg:border-r-20 border-white">
          <label class="w-full font-trade-gothic tracking-wide italic text-color-262626 pt-5 font-black">Define Service*</label>
          <textarea name="define-service" type="text" placeholder="How do you define service to others?" class="w-full p-3 mt-1 focus:outline-none font-chivo text-sm text-color-262626 hover:bg-white border-2 border-solid border-color-cccccc hover:border-color-0194D3 hover:text-white focus:text-color-262626 focus:border-input-hover h-32 default-input" required></textarea>
        </div>
        <div class="w-full lg:w-1/2 flex flex-wrap mx-auto pb-8 lg:pb-0 lg:mr-auto lg:border-r-20 border-white">
          <label class="w-full font-trade-gothic tracking-wide italic text-color-262626 pt-5 font-black">Future Service*</label>
          <textarea name="future-service" type="text" placeholder="How do you see service being a part of your future?" class="w-full p-3 mt-1 focus:outline-none font-chivo text-sm text-color-262626 hover:bg-white border-2 border-solid border-color-cccccc hover:border-color-0194D3 hover:text-white focus:text-color-262626 focus:border-input-hover h-32 default-input" required></textarea>
        </div>
        <div class="w-full lg:w-1/2 flex flex-wrap mx-auto pb-8 lg:pb-0 lg:mr-auto lg:border-r-20 border-white">
          <label class="w-full font-trade-gothic tracking-wide italic text-color-262626 pt-5 font-black">References*</label>
          <textarea name="references" type="text" placeholder="List two references including their names, contact info, and relationship to you." class="w-full p-3 mt-1 focus:outline-none font-chivo text-sm text-color-262626 hover:bg-white border-2 border-solid border-color-cccccc hover:border-color-0194D3 hover:text-white focus:text-color-262626 focus:border-input-hover h-24 default-input" required></textarea>
        </div>
        <div class="flex flex-wrap w-full lg:w-1/3 flex flex-wrap mx-auto lg:mr-auto lg:border-r-20 border-white pt-5">
            <input type="checkbox" id="" name="" class="w-1/6 h-4" required>
          <label class="w-5/6 font-chivo tracking-wide italic text-color-262626 text-xs font-thin">{{ .Params.checkbox_disclaimer.Paragraph }}</label>
        </div>
        <div class="w-4/5 lg:w-1/6 flex flex-wrap mx-auto lg:mr-auto text-center mt-5 lg:mt-0">
          <input type="submit" value="Submit" class="bg-color-0194D3 hover:bg-color-0182BA active:bg-color-0170A0 focus:bg-color-0182BA focus:outline-none px-4 py-3 text-base text-white italic font-normal mx-auto default-button">
        </div>
      </form>
    </div>
</section>

{{ end }}