<!DOCTYPE html><html lang="{{ $.Site.LanguageCode | default "en" }}"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">{{ partial "head/siteMeta.html" . }}<meta name="HandheldFriendly" content="True"><meta name="MobileOptimized" content="320"><meta name="viewport" content="width=device-width,minimum-scale=1">{{ partial "head/robots.html" . }}{{ partial "head/faviCode.html" . }}{{ partial "head/globalStyle.html" . }}{{ partial "head/rss.html" . }}{{ partial "head/siteExtensions.html" . }}{{ partial "head/googleAnalytics.html" . }}</head>

<body class="{{ .Param "page-status" }}">

{{ block "header" . }}{{ $headerHTML := resources.Get "globalHTML/header.html" | resources.ExecuteAsTemplate "miniHead.html" . }}{{ $miniHead := $headerHTML | resources.Minify }}{{ $miniHead.Content | safeHTML }}{{ end }}

<main role="main">{{ block "main" . }}{{ end }}</main>

{{ block "footer" . }}{{ $footerHTML := resources.Get "globalHTML/footer.html" | resources.ExecuteAsTemplate "miniFooter.html" . }}{{ $miniFooter := $footerHTML | resources.Minify }}{{ $miniFooter.Content | safeHTML }}{{ end }}

{{ block "scripts" . }}{{ $scriptsHTML := resources.Get "globalHTML/siteScripts.html" | resources.ExecuteAsTemplate "miniScripts.html" . }}{{ $miniScripts := $scriptsHTML | resources.Minify }}{{ $miniScripts.Content | safeHTML }}{{ end }}

</body>
</html>