<style>
  body {
    max-width: 1440px;
    margin: auto;
  }
.mobile-menu-toggle {background-color: black;}
#mobile-logo {
  min-width: 120px;
}
#mobile-menu-logo {
  min-width: 120px;
}
#desktop-logo {
  display: none;
}
.mobile-logo img {
  width: 150px;
}
.desktop-menu-item:hover {
  position: relative;
}
.desktop-menu-item::after {
  content: " ";
  height: 0px;
  transition: .2s;
}
.desktop-menu-item:hover::after {
  content: " ";
  background-color: #fdb924;
  width: 120%;
  height: 6px;
  top: 70%;
  left: -10%;
  position: absolute;
  z-index: -999;
  transition: .2s;
}
.desktop-inner-menu-item:hover {
  position: relative;
}
.desktop-inner-menu-item::after {
  content: " ";
  height: 0px;
  transition: .2s;
}
.desktop-inner-menu-item:hover::after {
  content: " ";
  background-color: #0194d3;
  width: 110%;
  height: 4px;
  top: 70%;
  left: 0%;
  position: absolute;
  z-index: -999;
  transition: .2s;
}
.default-button {
  letter-spacing: .5px;
  font-family: "trade-gothic-next-condensed",sans-serif;
  transition: .2s;
}
.close-menu {
  width: 63px;
}
.icon-in-section {
    width: 80px;
    height: 80px;
}
#inner-page-mobile-logo {
  display: none;
}
.inner-page #header {
  background-color: #fff
}
.inner-page #mobile-logo {
  display: none;
}
.inner-page #inner-page-mobile-logo {
  display: inline;
}
.inner-page .mobile-menu-icon {
  color: #005295;
}
.left-img-shadow {
  -webkit-box-shadow: -30px 30px 0px 0px rgba(253,185,36,1);
  -moz-box-shadow: -30px 30px 0px 0px rgba(253,185,36,1);
  box-shadow: -30px 30px 0px 0px rgba(253,185,36,1);
}
.right-img-shadow {
  -webkit-box-shadow: 30px 30px 0px 0px rgba(253,185,36,1);
  -moz-box-shadow: 30px 30px 0px 0px rgba(253,185,36,1);
  box-shadow: 30px 30px 0px 0px rgba(253,185,36,1);
}
.default-input:hover::placeholder {
    color: #262626;
}
input[type="submit"]:hover {
    cursor: pointer;
}
a {
  text-decoration: none;
}
.readMore-content-expanded {
    font-size: 0px;
    transition: .2s;
  }
.read-more-toggle {
    font-size: 20px !important;
    transition: .2s;
  }
  .hide-read-more {
    display: none;
  }
  .read-more {
    background-color: transparent;
    padding: 0px;
  }
  .read-more-link button:hover {
    background-color: transparent;
    color: #3E133E
  }
  .close-read-more {
    background-color: transparent;
    padding: 0;
    margin-top: 1.25rem;
    float: left;
  }
  .close-read-more-link button:hover {
    background-color: transparent;
  }
@media screen and (min-width: 576px) {
  .mobile-menu-button button {
  width: 50px;
}
.close-menu {
  width: 80px;
}
}
@media screen and (min-width: 992px) {
.about-us-menu:hover ~ .desktop-mega-about {
  opacity: 1;
  z-index: 999;
  transition: .2s;
}
.desktop-mega-about {
  background-color: transparent;
  position: absolute;
  opacity: 0;
  height: 0px;
  z-index: -999;
  transition: .2s;
}
.desktop-mega-about:hover {
  z-index: 999;
  opacity: 1;
  height: 190px;
}
.ways-to-give-menu:hover ~ .desktop-mega-give {
  opacity: 1;
  z-index: 999;
  transition: .2s;
}
.desktop-mega-give {
  background-color: transparent;
  position: absolute;
  opacity: 0;
  height: 0px;
  z-index: -999;
  transition: .2s;
}
.desktop-mega-give:hover {
  z-index: 999;
  opacity: 1;
  height: 190px;
}
.apply-now-menu:hover ~ .desktop-mega-apply {
  opacity: 1;
  z-index: 999;
  transition: .2s;
}
.desktop-mega-apply {
  background-color: transparent;
  position: absolute;
  opacity: 0;
  height: 0px;
  z-index: -999;
  transition: .2s;
}
.desktop-mega-apply:hover {
  z-index: 999;
  opacity: 1;
  height: 190px;
}
#desktop-logo {
  display: inline-flex;
  width: 103px;
  height: 40px;
}
#mobile-logo {
  display: none;
}
#inner-page-mobile-logo {
  display: none !important;
}
.header-box {
  padding: 45px 60px 45px 60px;
}
.inner-page #header {
  background-color: transparent;
}
.about-us-menu {
  padding-left: 12px;
}
}
@media screen and (min-width: 1200px) {

}
@media screen and (min-width: 1440px) {

}
</style>

<div id="header-functions">

<section id="header" class="header-container bg-transparent">
        <div class="lg:container flex flex-wrap items-center header-box">
<a id="desktop-logo" class="w-1/2 md:w-1/3" href="/">
  <img src="{{ .Site.Params.logos.logo }}">
</a>
<a id="mobile-logo" class="w-1/3 md:w-1/4 xl:w-1/6 mr-auto z-50" href="/">
  <img class="" src="{{ .Site.Params.logos.mobile_logo }}" width="150px">
</a>
<a id="inner-page-mobile-logo" class="w-1/3 md:w-1/4 xl:w-1/6 mr-auto z-50" href="/">
  <img class="" src="{{ .Site.Params.logos.inner_page_mobile_logo }}" width="150px">
</a>
{{ partial "siteNavigation.html" . }}
<div id="header-button" class="w-1/2 md:w-1/6 ml-auto text-right z-50">
  <a href="/contact-us">
    <button class="hidden lg:inline-flex bg-color-0194D3 hover:bg-color-0182BA active:bg-color-0170A0 focus:bg-color-0182BA hover:cursor-pointer focus:outline-none px-4 py-3 text-base text-white italic font-normal default-button">Donate Here</button>
  </a>
</div>
</div>
</section>

<div id="mobile-menu" class="mobile-menu" v-bind:class="{ 'mobile-menu-toggle' : menuToggle }">
  <div class="bg-color-00447c pb-12 mobile-menu-container">
  <div class="flex items-center">
  <a id="mobile-menu-logo" class="w-1/3 md:w-1/4 xl:w-1/6 mr-auto" href="/">
    <img class="" src="{{ .Site.Params.logos.mobile_logo }}" width="150px">
  </a>
  <a class="ml-auto w-1/3 text-right pr-10 lg:pr-0 close-menu" v-on:click="menuToggle = !menuToggle"><img class="" src="/pageimg/close-menu.svg"></a>
  </div>
  <ul class="text-left px-12 md:px-12 list-reset font-trade-gothic mobile-menu-list">
    {{ $currentNode := . }}
    {{ range .Site.Menus.mobile }}
    <li class="pt-2 pb-4 mobile-menu-item">{{ .Pre }}<a class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}} no-underline text-4xl text-white" href="{{.URL}}">{{ .Name }}</a>{{ .Post }}</li>
    {{ end }}
  </ul>
  <a href="/contact-us">
    <button class="ml-12 inline-flex lg:hidden bg-color-0194D3 hover:bg-color-0182BA active:bg-color-0170A0 focus:bg-color-0182BA hover:cursor-pointer focus:outline-none px-4 py-3 text-base text-white italic font-normal default-button">Donate Here</button>
  </a>
</div>
</div>

</div>