<nav id="navigation-wrapper" class="xl:pl-10 w-1/3 md:w-2/3 text-right pr-10 lg:pr-0 z-50">

<div class="w-full text-left items-center pl-6 xl:pl-0 desktop-menu">
  {{ $currentNode := . }}
  {{ range .Site.Menus.desktop }}
  <a class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}} inline-flex w-24 text-color-00447c no-underline text-sm xl:text-base italic font-black {{ lower .Identifier }}-menu" href="{{.URL}}"><span class="mx-auto lg:mx-0 lg:mr-auto font-trade-gothic desktop-menu-item">{{ .Name }}</span></a>
  {{ end }}
  <div class="text-center py-3 pl-3 desktop-mega-about">
    {{ $currentNode := . }}
    {{ range .Site.Menus.about }}
    <div class="block text-left pb-3">
    <a class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}} mx-auto text-color-00447c no-underline text-base font-black font-trade-gothic desktop-inner-menu-item" href="{{.URL}}">{{ .Name }}</a>
    </div>
    {{ end }}
  </div>
  <div class="text-center py-3 pl-24 ml-1 desktop-mega-give">
    {{ $currentNode := . }}
    {{ range .Site.Menus.give }}
    <div class="block text-left pb-3">
    <a class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}} mx-auto text-color-00447c no-underline text-base font-black font-trade-gothic desktop-inner-menu-item" href="{{.URL}}">{{ .Name }}</a>
    </div>
    {{ end }}
  </div>
  <div class="text-center py-3 pl-48 ml-10 desktop-mega-apply">
    {{ $currentNode := . }}
    {{ range .Site.Menus.apply }}
    <div class="block text-left pb-3">
    <a class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}} mx-auto text-color-00447c no-underline text-base font-black font-trade-gothic desktop-inner-menu-item" href="{{.URL}}">{{ .Name }}</a>
    </div>
    {{ end }}
  </div>
</div>

<div id="mobile-menu" class="">
  <div class="mobile-menu-button ml-auto">
    <button v-on:click="menuToggle = !menuToggle" class="mobile-menu-button ml-auto w-1/3"><i class="text-3xl text-white fas fa-bars mobile-menu-icon"></i></button>
  </div>
</div>

</nav>