{{ $script := .Site.Data.webpack_assets.app }}
{{ with $script.js }}
  <script defer src="{{ absURL (printf "%s%s" "/dist/" .) }}"></script>
{{ end }}

<script>

var siteFunctions = new Vue({
    el: '#header-functions',
    data: {
      menuToggle: false,
      megaservicesMobile: false
    },
});

var footerFunctions = new Vue({
    el: '#go-to-top-button',
    data: {
      scrollPosition: null
    },
    methods: {
     updateScroll() {
       this.scrollPosition = window.scrollY
     }
   },
 
   mounted() {
     window.addEventListener('scroll', this.updateScroll);
   },
});
</script>

<script>
var readMore = new Vue({
    el: '.readMore',
    data: {
      homereadMore: false,
      closereadMore: true
    },
});

</script>

{{ partial "js/elevator.min.js.html" . }}
{{ partial "js/glide-min.js.html" . }}

<script>
window.onload = function() {
      var elevator = new Elevator({
        element: document.querySelector('#go-to-top-button'),
        duration: 1000
      });
}
</script>

<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/17ae45aa16919e0688552b7fa/d719fe7a48060c73c011ff7a8.js");</script>