{{ $script := .Site.Data.webpack_assets.app }}
{{ with $script.js }}
  <script defer src="{{ absURL (printf "%s%s" "/dist/" .) }}"></script>
{{ end }}

{{ if eq .Page.Layout "about-us" }}
{{ partial "utilities/sliderCode.html" . }}
{{ else }}{{ end }}

<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/17ae45aa16919e0688552b7fa/d719fe7a48060c73c011ff7a8.js");</script>